.columna {
    margin-top: 30px;
    position: relative;
    margin-left: 50px;
}

.columna h2 {
    color: black;
    font-family: arial rounded mt;
    font-size: 2erm;
}

.columna a{
    color: rgb(24, 23, 23);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    margin-top: 10px;
}

.contacto {
    background-image: url(../src/pexels-michael-block-3225517.jpg);
    width: 100vw;
    height: 20vw;
    display: flex;
    align-items: top;
    background-attachment: fixed;
}

.footer div {
    margin-top: auto;
    background-color: black;
    padding: 5px 20px 5px 20px;
    width: 100vw;
}

.footer div {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer div p{
    font-size: 1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}